//main:style.scss


/*=================

      comic.scss

=======================*/

.page_comic{
  width: 100%;
}

.comic_box_wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 0 -40px;
  @media #{$size640}{
    display: block;
    margin: 0 0 0;
  }
  .comic_box{
    width: calc((100% - 40px) /2);
    margin: 0 40px 40px 0;
    position: relative;
    @media #{$size640}{
      width: 100%;
      margin: 0 0 40px 0;
    }
    &:nth-child(even){
      margin: 0 0 40px 0;
    }
    &:last-child{
      @media #{$size640}{
        margin: 0 0 0 0;
      }
    }
    .new{
      position: absolute;
      top: -10px;
      left: -10px;
      width: 60px;
      z-index: 2;
      @media #{$size640}{
        width: 50px;
      }
      img{
        width: 100%;
      }
    }
    .comic_box_img{
      display: block;
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid $black;
      margin: 0 0 12px;
      @media #{$size640}{
        margin: 0 0 8px;
      }
    }
    .comic_box_category_date{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 100%;
      margin: 0 0 12px;
      @media #{$size640}{
        margin: 0 0 8px;
      }
      .comic_box_category{
        display: inline-block;
        padding: 5px 20px;
        max-width: calc(100% - 100px);
        background-color: $white;
        border: 1px solid $purple;
        border-radius: 20px;
        @media #{$size640}{
          padding: 4px 12px;
        }
        p{
          font-family: 'NotoSansCJKjp-Bold', sans-serif;
          font-weight: normal;
          font-style: normal;
          font-size: 16px;
          color: $purple;
          word-break: break-all;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          line-height: 20px;
          max-height: calc(20px*1);
          @media #{$size640}{
            font-size: 12px;
            line-height: 16px;
            max-height: calc(16px*1);
          }
        }
      }
      .comic_box_date{
        font-family: 'M PLUS 1p', sans-serif;
        font-weight: 800;
        font-size: 14px;
        color: $gray;
        letter-spacing: 0.05em;
        line-height: 1.3;
        text-align: right;
        @media #{$size640}{
          font-size: 12px;
        }
      }
    }
    .comic_box_title_link{
      display: block;
      .comic_box_title{
        font-family: 'M PLUS 1p', sans-serif;
        font-weight: 800;
        font-size: 22px;
        color: $black;
        letter-spacing: 0.05em;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 28px;
        margin: 0 0 12px;
        @media #{$size640}{
          font-size: 16px;
          line-height: 20px;
          max-height: calc(20px*2);
          margin: 0 0 8px;
        }
      }
    }
  }
}

.side_comic_raking_list{
  .side_comic_ranking_item{
    margin: 0 0 30px;
    &:last-child{
      margin: 0 0 0;
    }
    .side_comic_raking_link{
      display: block;
      padding: 15px;
      border-radius: 20px;
      position: relative;
      background-color: $white;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      .side_comic_raking_icon{
        position: absolute;
        left: -5px;
        top: -5px;
        width: 44px;
        z-index: 2;
        img{
          width: 100%;
        }
      }
      .side_comic_raking_img{
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid $black;
        margin: 0 0 8px;
      }
      .side_comic_raking_title{
        font-family: 'M PLUS 1p', sans-serif;
        font-weight: 800;
        font-size: 16px;
        color: $black;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 20px;
        max-height: calc(20px*2);
      }
    }
  }
}

/*comic_detal*/

.comic_detail_category_date{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 0 30px;
  @media #{$size640}{
    margin: 0 0 20px;
  }
  .comic_detail_category{
    display: inline-block;
    padding: 4px 20px;
    background-color: $white;
    border: 1px solid $purple;
    border-radius: 30px;
    font-family: 'NotoSansCJKjp-Bold', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: $purple;
    line-height: 1.3;
    margin: 0 20px 0 0;
    @media #{$size640}{
      padding: 4px 12px;
      font-size: 14px;
    }
  }
  .comic_detail_date{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: $gray;
    line-height: 1.3;
    @media #{$size640}{
      font-size: 14px;
    }
    img{
      width: 16px;
      margin: 0 10px 0 0;
      @media #{$size640}{
        width: 14px;
        margin: 0 6px 0 0;
      }
    }
  }
}

.comic_detail_title{
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 800;
  font-size: 36px;
  color: $black;
  letter-spacing: 0.05em;
  line-height: 1.3;
  margin: 0 0 40px;
  @media #{$size640}{
    font-size: 24px;
    margin: 0 0 30px;
  }
}

.comic_detail_main_img{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border: 2px solid $black;
  margin: 0 0 50px;
  @media #{$size640}{
    margin: 0 0 40px;
  }
}


#comic_editor{
  .text{
    font-family: 'NotoSansCJKjp-Regular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: $black;
    letter-spacing: 0.05em;
    line-height: 2;
    margin: 0 0 50px;
    @media #{$size640}{
      font-size: 14px;
      margin: 0 0 40px;
    }
  }
  .hamu_list{
    border: 4px dashed $purple;
    border-radius: 40px;
    padding: 40px;
    margin: 0 0 50px;
    @media #{$size640}{
      padding: 20px;
      margin: 0 0 40px;
      border-radius: 20px;
    }
    .hamu_item{
      font-family: 'NotoSansCJKjp-Medium', sans-serif;
      font-weight: normal;
      font-style: normal;
      font-size: 16px;
      color: $black;
      letter-spacing: 0.05em;
      line-height: 1.5;
      padding: 0 0 20px 40px;
      margin: 0 0 20px;
      border-bottom: 2px dashed $b_gray;
      position: relative;
      @media #{$size640}{
        font-size: 14px;
        padding: 0 0 20px 30px;
      }
      &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 26px;
        background-image: url(../images/common/icon_ham.svg);
        background-repeat: no-repeat;
        background-size: contain;
        @media #{$size640}{
          width: 22px;
          height: 20px;
        }
      }
      &:last-child{
        padding: 0 0 0 40px;
        margin: 0 0 0;
        border-bottom: none;
        @media #{$size640}{
          padding: 0 0 0 30px;
        }
      }
    }
  }
  .h2{
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 800;
    font-size: 26px;
    color: $black;
    letter-spacing: 0.05em;
    line-height: 1.3;
    padding: 0 0 0 20px;
    position: relative;
    margin: 0 0 30px;
    @media #{$size640}{
      font-size: 20px;
      margin: 0 0 20px;
    }
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 6px;
      height: 100%;
      border-radius: 3px;
      background-color: $yellow;
    }
  }
  .h3{
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 800;
    font-size: 26px;
    color: $black;
    letter-spacing: 0.05em;
    line-height: 1.3;
    padding: 0 0 10px;
    border-bottom: 1px solid $black;
    margin: 0 0 30px;
    @media #{$size640}{
      font-size: 20px;
      margin: 0 0 20px;
    }
  }
  .h4{
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 800;
    font-size: 26px;
    color: $black;
    letter-spacing: 0.05em;
    line-height: 1.3;
    margin: 0 0 30px;
    @media #{$size640}{
      font-size: 20px;
      margin: 0 0 20px;
    }
  }
  img{
    max-width: 100%!important;
    display: block;
    margin: 0 0 50px;
    @media #{$size640}{
      margin: 0 0 40px;
    }
  }
  a{
    color: $purple;
    text-decoration: underline;
  }
  .b_yellow{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #FFF296));
    background:linear-gradient(transparent 60%, #FFF296 60%);
  }
  .b_purple{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #D7DFF8));
    background:linear-gradient(transparent 60%, #D7DFF8 60%);
  }
  .t_purple{
    color: $purple;
  }
  .bold{
    font-family: 'NotoSansCJKjp-Bold', sans-serif;
  }
  .center{
    text-align: center;
  }
  .introduction_box{
    width: 100%;
    border-radius: 10px;
    border: 3px solid $gray;
    margin: 0 0 50px;
    @media #{$size640}{
      margin: 0 0 40px;
    }
    .introduction_box_name{
      border-radius: 6px 6px 0 0;
      background-color: $gray;
      padding: 15px 20px;
      font-family: 'M PLUS 1p', sans-serif;
      font-weight: 800;
      font-size: 18px;
      color: $white;
      letter-spacing: 0.05em;
      line-height: 1.3;
      @media #{$size640}{
        font-size: 16px;
        padding: 15px 15px;
      }
    }
    .introduction_box_content{
      padding: 20px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      @media #{$size640}{
        display: block;
      }
      .introduction_box_img{
        width: 290px;
        margin: 0 30px 0 0;
        @media #{$size640}{
          margin: 0 auto 20px;
          width: 100%;
          max-width: 300px;
        }
        img{
          width: 100%;
          margin: 0 0 0;
          border-radius: 10px;
        }
      }
      .introduction_box_detail{
        width: calc(100% - 320px);
        @media #{$size640}{
          width: 100%;
        }
        .introduction_box_detail_title{
          font-family: 'NotoSansCJKjp-Bold', sans-serif;
          font-weight: normal;
          font-style: normal;
          font-size: 16px;
          color: $black;
          padding: 0 0 10px;
          border-bottom: 1px solid $black;
          margin: 0 0 10px;
          @media #{$size640}{
            font-size: 14px;
          }
        }
        .introduction_box_detail_text{
          font-family: 'NotoSansCJKjp-Regular', sans-serif;
          font-weight: normal;
          font-style: normal;
          font-size: 14px;
          color: $black;
          letter-spacing: 0.05em;
          line-height: 1.6;
          margin: 0 0 30px;
          @media #{$size640}{
            font-size: 13px;
            margin: 0 0 20px;
          }
        }
        .introduction_box_detail_link_btn{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          width: 100%;
          max-width: 500px;
          margin: 0 auto;
          height: 60px;
          border-radius: 30px;
          border: 2px solid $purple;
          font-family: 'M PLUS 1p', sans-serif;
          font-weight: 800;
          font-size: 16px;
          color: $purple;
          letter-spacing: 0.05em;
          line-height: 1.3;
          text-decoration: none;
          @media #{$size640}{
            height: 50px;
            font-size: 14px;
          }
        }
      }
    }
  }
  .voice_box{
    padding: 50px;
    background-color: $bg_gray;
    border-radius: 20px;
    background-image: url(../images/editor/bg_voice_left.svg),url(../images/editor/bg_voice_right.svg);
    background-position: top 20px left 20px,bottom 20px right 20px;
    background-repeat: no-repeat,no-repeat;
    background-size: 65px auto,65px auto;
    margin: 0 0 50px;
    @media #{$size640}{
      padding: 30px;
      background-size: 35px auto,35px auto;
      margin: 0 0 40px;
    }
    .voice_box_title{
      font-family: 'M PLUS 1p', sans-serif;
      font-weight: 800;
      font-size: 22px;
      color: $black;
      letter-spacing: 0.05em;
      line-height: 1.3;
      padding: 0 0 20px;
      border-bottom: 2px dashed $black;
      margin: 0 0 20px;
      @media #{$size640}{
        font-size: 18px;
        padding: 0 0 15px;
        margin: 0 0 15px;
      }
    }
    .voice_box_text{
      font-family: 'NotoSansCJKjp-Regular', sans-serif;
      font-weight: normal;
      font-style: normal;
      font-size: 16px;
      color: $black;
      letter-spacing: 0.05em;
      line-height: 2;
      @media #{$size640}{
        font-size: 14px;
      }
    }
  }
  .evaluation_box{
    border: 5px dashed $b_gray;
    padding: 26px;
    background-color: $white;
    margin: 0 0 50px;
    @media #{$size640}{
      padding: 20px;
      margin: 0 0 40px;
    }
    .evaluation_box_name_score{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100%;
      margin: 0 0 20px;
      @media #{$size640}{
        margin: 0 0 10px;
      }
      .evaluation_box_name{
        font-family: 'NotoSansCJKjp-Bold', sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
        color: $black;
        letter-spacing: 0.05em;
        line-height: 1.3;
        margin: 0 20px 0 0;
        @media #{$size640}{
          font-size: 13px;
          margin: 0 10px 0 0;
        }
      }
      .evaluation_box_score{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        img{
          width: 20px;
          margin: 0 5px 0 0;
          @media #{$size640}{
            width: 16px;
            margin: 0 4px 0 0;
          }
        }
      }
    }
    .evaluation_box_text{
      font-family: 'NotoSansCJKjp-Regular', sans-serif;
      font-weight: normal;
      font-style: normal;
      font-size: 16px;
      color: $black;
      letter-spacing: 0.05em;
      line-height: 2;
      margin: 0 0 10px;
      @media #{$size640}{
        font-size: 14px;
      }
    }
    .evaluation_box_date{
      font-family: 'NotoSansCJKjp-Medium', sans-serif;
      font-weight: normal;
      font-style: normal;
      font-size: 14px;
      color: $gray;
      letter-spacing: 0.05em;
      line-height: 1.3;
      @media #{$size640}{
        font-size: 12px;
      }
    }
  }
  .chat_block{
    margin: 0 0 50px;
    @media #{$size640}{
      margin: 0 0 40px;
    }
    .chat_list{
      .chat_item{
        -js-display: flex;
        display:flex;
        display:-webkit-box;
        display:-ms-flexbox;
        display: -webkit-flex;
        -webkit-box-align:start;
        -ms-flex-align:start;
        align-items:flex-start;
        margin: 0 0 20px;
        &:last-of-type{
          margin: 0;
        }
        &:nth-of-type(odd){
          padding: 0 60px 0 0;
          @media #{$size640}{
            padding: 0;
          }
          .chat_icon{
            margin: 0 20px 0 0;
          }
          .chat_text{
            background: #FFF9CE;
            border-radius: 0 12px 12px 12px;
            &:before{
              left: -8px;
              border-top: 8px solid #FFF9CE;
            }
          }
        }
        &:nth-of-type(even){
          padding: 0 0 0 60px;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: reverse;
                  flex-direction: row-reverse;
          -ms-flex-direction:row-reverse;
          @media #{$size640}{
            padding: 0;
          }
          .chat_icon{
            margin: 0 0 0 20px;
          }
          .chat_detail{
            -webkit-box-align:end;
            -ms-flex-align:end;
            align-items:flex-end;
          }
          .chat_text{
            background: #E6EDFF;
            border-radius: 12px 0 12px 12px;
            &:before{
              right: -8px;
              border-top: 8px solid #E6EDFF;
            }
          }
        }
        .chat_icon{
      		display: block;
      		width: 60px;
      		min-width: 60px;
      		img{
      			display: block;
      			width: 60px;
      			height: 60px;
      			border-radius: 50%;
      			margin: 0 auto;
      			-o-object-fit: cover;
      			   object-fit: cover;
      		}
      		.name{
      			display: block;
      			text-align: center;
            font-family: 'NotoSansCJKjp-Regular', sans-serif;
            font-weight: normal;
            font-style: normal;
            font-size: 11px;
            color: $black;
            letter-spacing: 0.05em;
            line-height: 1.3;
      			margin: 3px 0 0;
      		}
      	}
        .chat_detail{
      		width: auto;
      		-js-display: flex;
      		display:flex;
      		display:-webkit-box;
      		display:-ms-flexbox;
      		display: -webkit-flex;
      	}
      	.chat_text{
      		position: relative;
      		margin: 0;
      		display: inline-block;
      		padding: 10px 20px;
          font-family: 'NotoSansCJKjp-Regular', sans-serif;
          font-weight: normal;
          font-style: normal;
          font-size: 14px;
          color: $black;
          letter-spacing: 0.05em;
          line-height: 1.6;
          @media #{$size640}{
            font-size: 13px;
          }
      		&:before{
      			content:"";
      			position: absolute;
      			top:0;
      			width: 0;
      			height: 0;
      			border-left: 8px solid transparent;
      			border-right: 8px solid transparent;
      		}
      	}
      }
    }
  }
  .heding_content_list_block{
    margin: 0 0 50px;
    border: 1px solid $purple;
    background-color: $white;
    @media #{$size640}{
      margin: 0 0 40px;
    }
    .heding_content_list_block_title{
      padding: 10px 20px;
      font-family: 'M PLUS 1p', sans-serif;
      font-weight: 800;
      font-size: 18px;
      color: $white;
      letter-spacing: 0.05em;
      line-height: 1.3;
      background-color: $purple;
      @media #{$size640}{
        font-size: 16px;
      }
      &:before {
        content: '';
        display: inline-block;
        width: 21px;
        height: 19px;
        background-image: url(../images/editor/icon_list.svg);
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
        @media #{$size640}{
          width: 18px;
          height: 16px;
        }
      }
    }
    .heding_content_list{
      padding: 20px;
      background-color: $white;
      .heding_content_item{
        padding: 0 0 15px;
        margin: 0 0 15px;
        border-bottom: 2px dashed #E6EDFF;
        &:last-child{
          padding: 0 0 0;
          margin: 0 0 0;
          border-bottom: none;
        }
        .heding_content_link{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 100%;
          text-decoration: none;
          .heding_content_nem{
            width: 40px;
            font-family: 'NotoSansCJKjp-Medium', sans-serif;
            font-weight: normal;
            font-style: normal;
            font-size: 16px;
            color: $purple;
            letter-spacing: 0.05em;
            line-height: 1.3;
            @media #{$size640}{
              font-size: 14px;
              width: 36px;
            }
          }
          .heding_content_detail{
            font-family: 'NotoSansCJKjp-Medium', sans-serif;
            font-weight: normal;
            font-style: normal;
            font-size: 16px;
            color: $black;
            letter-spacing: 0.05em;
            line-height: 1.6;
            @media #{$size640}{
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .info_block{
    border: 3px solid #E6EDFF;
    margin: 0 0 50px;
    @media #{$size640}{
      margin: 0 0 40px;
    }
    .info_block_title{
      background-color: #E6EDFF;
      display: inline-block;
      max-width: 94%;
      padding: 15px 20px;
      border-radius: 0 0 20px 0;
      font-family: 'M PLUS 1p', sans-serif;
      font-weight: 800;
      font-size: 18px;
      color: $purple;
      letter-spacing: 0.05em;
      line-height: 1.3;
      @media #{$size640}{
        padding: 10px 20px;
        font-size: 16px;
      }
    }
    .info_list{
      padding: 20px;
      .info_item{
        margin: 0 0 20px;
        &:last-child{
          margin: 0 0 0;
        }
        .info_item_title{
          font-family: 'NotoSansCJKjp-Bold', sans-serif;
          font-weight: normal;
          font-style: normal;
          font-size: 16px;
          color: $black;
          letter-spacing: 0.05em;
          line-height: 1.3;
          margin: 0 0 10px;
          @media #{$size640}{
            font-size: 14px;
          }
          &.dress{
            &:before {
              content: '';
              display: inline-block;
              width: 24px;
              height: 24px;
              background-image: url(../images/editor/icon_dress_code.svg);
              background-size: contain;
              background-repeat: no-repeat;
              vertical-align: middle;
            }
          }
          &.price{
            &:before {
              content: '';
              display: inline-block;
              width: 24px;
              height: 24px;
              background-image: url(../images/editor/icon_price.svg);
              background-size: contain;
              background-repeat: no-repeat;
              vertical-align: middle;
            }
          }
          &.site{
            &:before {
              content: '';
              display: inline-block;
              width: 24px;
              height: 24px;
              background-image: url(../images/editor/icon_site.svg);
              background-size: contain;
              background-repeat: no-repeat;
              vertical-align: middle;
            }
          }
          &.time{
            &:before {
              content: '';
              display: inline-block;
              width: 24px;
              height: 24px;
              background-image: url(../images/editor/icon_time.svg);
              background-size: contain;
              background-repeat: no-repeat;
              vertical-align: middle;
            }
          }
          &.schedule{
            &:before {
              content: '';
              display: inline-block;
              width: 24px;
              height: 24px;
              background-image: url(../images/editor/icon_schedule.svg);
              background-size: contain;
              background-repeat: no-repeat;
              vertical-align: middle;
            }
          }
          &.map{
            &:before {
              content: '';
              display: inline-block;
              width: 24px;
              height: 24px;
              background-image: url(../images/editor/icon_map.svg);
              background-size: contain;
              background-repeat: no-repeat;
              vertical-align: middle;
            }
          }
          &.tel{
            &:before {
              content: '';
              display: inline-block;
              width: 24px;
              height: 24px;
              background-image: url(../images/editor/icon_tel.svg);
              background-size: contain;
              background-repeat: no-repeat;
              vertical-align: middle;
            }
          }
          &.note{
            &:before {
              content: '';
              display: inline-block;
              width: 24px;
              height: 24px;
              background-image: url(../images/editor/icon_note.svg);
              background-size: contain;
              background-repeat: no-repeat;
              vertical-align: middle;
            }
          }
        }
        .info_item_text{
          font-family: 'NotoSansCJKjp-Medium', sans-serif;
          font-weight: normal;
          font-style: normal;
          font-size: 14px;
          color: $black;
          letter-spacing: 0.05em;
          line-height: 1.6;
          @media #{$size640}{
            font-size: 13px;
          }
        }
      }
    }
  }
  .link_btn_block{
    margin: 0 0 30px;
    @media #{$size640}{
      margin: 0 0 20px;
    }
    .big_link_btn{
      width: 100%;
      height: 60px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border-radius: 30px;
      background-color: $yellow;
      font-family: 'M PLUS 1p', sans-serif;
      font-weight: 800;
      font-size: 16px;
      color: $black;
      letter-spacing: 0.05em;
      line-height: 1.3;
      text-decoration: none;
      margin: 0 0 20px;
      @media #{$size640}{
        height: 50px;
        font-size: 14px;
      }
    }
    .small_link_btn_list{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100%;
      .small_link_btn_item{
        width: calc((100% - 30px) /2);
        margin: 0 0 20px;
        @media #{$size640}{
          width: calc((100% - 20px) /2);
        }
        .small_link_btn{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          width: 100%;
          height: 60px;
          border-radius: 30px;
          background-color: $yellow;
          font-family: 'M PLUS 1p', sans-serif;
          font-weight: 800;
          font-size: 16px;
          color: $black;
          letter-spacing: 0.05em;
          line-height: 1.3;
          text-decoration: none;
          @media #{$size640}{
            height: 50px;
            font-size: 14px;
          }
        }
      }
    }
  }
  .link_btn_type01{
    width: 100%;
    max-width: 400px;
    margin: 0 auto 50px;
    height: 60px;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: $white;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: $purple;
    border: 2px solid  $purple;
    letter-spacing: 0.05em;
    line-height: 1.3;
    text-decoration: none;
    @media #{$size640}{
      margin: 0 auto 40px;
      height: 50px;
      font-size: 14px;
    }
  }
  .link_btn_type02{
    width: 100%;
    max-width: 400px;
    margin: 0 auto 50px;
    height: 60px;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: $white;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: $black;
    border: 2px solid  $black;
    letter-spacing: 0.05em;
    line-height: 1.3;
    text-decoration: none;
    @media #{$size640}{
      margin: 0 auto 40px;
      height: 50px;
      font-size: 14px;
    }
  }
}

/*relation_comic*/

.relation_comic{
  margin: 80px 0 0;
  width: 100%;
  @media #{$size640}{
    margin: 50px 0 0;
  }
}
