//main:style.scss


/*=================

      common.scss

=======================*/

.common_wrap{
  padding: 0 15px;
}

.common_inner{
  position: relative;
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
}

.common_inner_l{
  position: relative;
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
}

.common_inner_s{
  position: relative;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}



/*body*/
body{
  background-color: $white;
}

/*main*/

main{
  position: relative;
}



/*pankuzu*/

.pankuzu_wrap{
  padding: 17px 0;
  margin: 0 0 50px;
  @media #{$size640}{
    padding: 12px 0;
    margin: 0 0 30px;
  }
}

.pankuzu_list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 -8px 0;
  .pankuzu_item{
    margin: 0 60px 8px 0;
    font-family: 'NotoSansCJKjp-Regular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    color: $black;
    letter-spacing: 0.05em;
    @media #{$size640}{
      margin: 0 50px 8px 0;
    }
    .pankuzu_link{
      font-family: 'NotoSansCJKjp-Regular', sans-serif;
      font-weight: normal;
      font-style: normal;
      font-size: 13px;
      color: $black;
      letter-spacing: 0.05em;
      text-decoration: underline;
      display: block;
      position: relative;
      &:after{
        content: "";
        position: absolute;
        top: 50%;
        right: -35px;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        background-image: url(../images/common/icon_arrow.svg);
        width: 4px;
        height: 9px;
        background-size: contain;
        display: inline-block;
        background-repeat: no-repeat;
        @media #{$size640}{
          right: -30px;
        }
      }
      .home_icon{
        width: 18px;
        @media #{$size640}{
          width: 16px;
        }
      }
    }
  }
}

.common_page{
  padding: 80px 0 100px;
  background-color: $white;
  @media #{$size640}{
    padding: 40px 0 50px;
  }
}

/*page*/

.page_wrap{
  margin: 50px 0 0;
  .page_list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    .page_item_prev{
      margin: 0 10px;
      width: 40px;
      height: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      @media #{$size640}{
        width: 30px;
        height: 30px;
      }
      a{
        width: 40px;
        height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-color: $yellow;
        border-radius: 50%;
        @media #{$size640}{
          width: 30px;
          height: 30px;
        }
        img{
          width: 5px;
        }
      }
    }
    .page_item{
      margin: 0 10px;
      width: 40px;
      height: 40px;
      @media #{$size640}{
        width: 30px;
        height: 30px;
      }
      a{
        width: 40px;
        height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 14px;
        font-family: 'M PLUS 1p', sans-serif;
        font-weight: 800;
        color: $black;
        background-color: $yellow;
        border-radius: 50%;
        @media #{$size640}{
          width: 30px;
          height: 30px;
          font-size: 13px;
        }
      }
      &.active{
        a{
          width: 40px;
          height: 40px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          font-size: 14px;
          color: $white;
          background-color: $black;
          border-radius: 50%;
          @media #{$size640}{
            width: 30px;
            height: 30px;
            font-size: 13px;
          }
        }
      }
    }
    .dot{
      font-size: 18px;
      font-family: 'NotoSansCJKjp-Regular', sans-serif;
      font-weight: normal;
      font-style: normal;
      color: $black;
      width: 40px;
      height: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      @media #{$size640}{
        width: 30px;
        height: 30px;
        font-size: 13px;
      }
    }
    .page_item_next{
      margin: 0 10px;
      width: 40px;
      height: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      @media #{$size640}{
        width: 30px;
        height: 30px;
      }
      a{
        width: 40px;
        height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-color: $yellow;
        border-radius: 50%;
        @media #{$size640}{
          width: 30px;
          height: 30px;
        }
        img{
          width: 5px;
        }
      }
    }
  }
}


.common_more_btn_wrap{
  margin: 50px 0 0 0;
  @media #{$size640}{
    margin: 40px 0 0 0;
  }
  .common_more_btn{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    height: 60px;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: $purple;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: $white;
    letter-spacing: 0.05em;
    line-height: 1.3;
    @media #{$size640}{
      font-size: 14px;
      height: 50px;
    }
  }
}

/*common_title_block*/

.common_title_block{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 0 50px;
  @media #{$size640}{
    margin: 0 0 30px;
    display: block;
  }
  .common_title{
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 800;
    font-size: 50px;
    color: $black;
    line-height: 1.3;
    margin: 0 20px 0 0;
    @media #{$size640}{
      font-size: 30px;
      margin: 0 0 4px 0;
    }
    &.small{
      font-size: 44px;
      margin: 0 0 4px 0;
      @media #{$size640}{
        font-size: 30px;
        margin: 0 0 4px 0;
      }
    }
  }
  .common_title_en{
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: $purple;
    line-height: 1.3;
    padding: 0 0 6px;
    @media #{$size640}{
      font-size: 14px;
      padding: 0 0 0;
    }
  }
}

/*common_search*/

.common_search_box_top{
  padding: 0 0 40px;
  border-bottom: 2px solid $white;
  margin: 0 0 40px;
  @media #{$size640}{
    padding: 0 0 20px;
    margin: 0 0 20px;
  }
}

.common_search_title_wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  margin: 0 0 18px;
  .common_search_title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: $black;
    line-height: 1.3;
    margin: 0 10px 0 0;
    @media #{$size640}{
      font-size: 18px;
    }
    img{
      width: 26px;
      margin: 0 6px 0 0;
      @media #{$size640}{
        width: 20px;
      }
    }
  }
  .common_search_title_en{
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: $purple;
    line-height: 1.3;
    @media #{$size640}{
      font-size: 13px;
    }
  }
}

.common_search_box_bottom{
  .common_search_box_bottom_list{
    .common_search_box_bottom_item{
      margin: 0 0 40px;
      @media #{$size640}{
        margin: 0 0 30px;
      }
      &:last-child{
        margin: 0 0 0;
      }
    }
  }
}

.common_search_box_category_list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 0 -20px;
  @media #{$size640}{
    margin: 0 0 -10px;
  }
  .common_search_box_category_item{
    margin: 0 20px 20px 0;
    @media #{$size640}{
      margin: 0 10px 10px 0;
    }
    .common_search_box_category_link{
      display: inline-block;
      padding: 5px 20px;
      border-radius: 30px;
      border: 1px solid $black;
      background-color: $white;
      font-family: 'NotoSansCJKjp-Bold', sans-serif;
      font-weight: normal;
      font-style: normal;
      font-size: 16px;
      color: $black;
      letter-spacing: 0.05em;
      line-height: 1.3;
      @media #{$size640}{
        font-size: 12px;
        padding: 4px 12px;
      }
    }
  }
}

.common_search_box_tag_list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 0 -10px;
  .common_search_box_tag_item{
    margin: 0 10px 10px 0;
    .common_search_box_tag_link{
      display: inline-block;
      background-color: $white;
      padding: 5px 20px;
      border-radius: 30px;
      font-family: 'NotoSansCJKjp-Medium', sans-serif;
      font-weight: normal;
      font-style: normal;
      font-size: 15px;
      color: $black;
      letter-spacing: 0.05em;
      line-height: 1.3;
      @media #{$size640}{
        font-size: 11px;
        padding: 4px 12px;
      }
      &::before{
        content: "#";
        color: $purple;
      }
    }
  }
}


/*common_column_search*/

.common_column_search{
  margin: 0 0 80px;
  @media #{$size640}{
    margin: 0 0 50px;
  }
}

.common_column_search_box{
  padding: 50px;
  border-radius: 50px;
  background-color: $bg_gray;
  @media #{$size640}{
    padding: 20px;
    border-radius: 20px;
  }
  .common_search_input_wrap{
    .search_input{
      background-color: $white;
    }
  }
}

/*common_comic_search*/

.common_comic_search{
  margin: 0 0 0;
  .common_column_search_box{
    padding: 50px;
    border-radius: 50px;
    background-color: $white;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    @media #{$size640}{
      padding: 20px;
      border-radius: 20px;
    }
  }
  .common_search_box_top{
    border-bottom: 2px solid #EAEAEA;
  }
  .common_search_input_wrap{
    .search_input{
      border: 1px solid $b_gray;
    }
  }
}

/*common_page_content*/

.common_page_content{
  padding: 224px 0 80px 0;
  @media #{$size640}{
    padding: 162px 0 50px 0;
  }
}
